<web-app version="2.5">
	<filter>
		<filter-name>ScalaEye Filter</filter-name>
		<filter-class>org.scalaeye.mvc.WebFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ScalaEye Filter</filter-name>
		<url-pattern>*</url-pattern>
		<!--<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>-->
	</filter-mapping>
</web-app>
